* {
    margin: 0px;
}

a {
    color: black !important;
}   

.login-card,
.register-card,
.create-post-card,
.chat-container {
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 10px auto;
}