@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: goldenrod;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-wrapper {
  padding-left: 10px;
}

.brand-logo,
.display-3 {
  font-family: 'Architects Daughter', cursive;
}

a {
  color: black !important;
  text-decoration: none !important;
}   

h1, h2, h4 {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 15px;
  font-family: 'Architects Daughter', cursive;
}

.jumbotron {
  text-align: center;
  margin: 20px;
  padding: 25px;
}

.homepage-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.login-card,
.register-card,
.create-post-card,
.chat-container {
  padding: 20px;
  text-align: center;
  max-width: 500px;
  margin: 30px auto;
}

.gallery,
.allposts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

.my-post {
  width: 30%;
  margin: 8px;
}

.allposts-card {
  max-width: 500px;
  height: max-content;
  margin: 25px;
  padding: 10px;
}

.post-username {
  padding: 5px;
  margin-top: 5px;
}

.allposts-card-content {
  padding-left: 10px;
}