@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: goldenrod;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-wrapper {
  padding-left: 10px;
}

.brand-logo,
.display-3 {
  font-family: 'Architects Daughter', cursive;
}

a {
  color: black !important;
  text-decoration: none !important;
}   

h1, h2, h4 {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 15px;
  font-family: 'Architects Daughter', cursive;
}

.jumbotron {
  text-align: center;
  margin: 20px;
  padding: 25px;
}

.gif-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}

.homepage-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.register-card {
  color: black !important;
}

.login-card,
.register-card,
.create-post-card {
  padding: 20px;
  text-align: center;
  max-width: 500px;
  margin: 30px auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

.allposts {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */
  margin-top: 10px;
  margin-left: 20%;
  margin-right: 20%;
  column-count: 4;
  column-gap: 1em;
}

.messages {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */
  margin-top: 10px;
  margin-left: 20%;
  margin-right: 20%;
  column-count: 4;
  column-gap: 1em;
}

.message-card {
  padding: 20px;
  text-align: center;
  max-width: 500px;
  margin: 30px auto;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.create-message-card {
  padding: 20px;
  text-align: center;
  max-width: 500px;
  margin: 30px auto;
}

.my-post {
  width: 30%;
  margin: 8px;
}

.allposts-card {
  padding: 20px;
  text-align: center;
  max-width: 500px;
  margin: 30px auto;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.post-username {
  padding: 5px;
  margin-top: 5px;
}

.allposts-card-content {
  padding-left: 10px;
}

.allposts-comment {
  padding-left: 10px;
}

.user_name {
  font-weight: 500;
}

.allposts-card-input {
  padding-left: 10px;
}

.gif-login {
  font-size: 20px;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .messages {
    column-count: 4;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .messages {
    column-count: 3;
  }
}

@media only screen and (max-width: 767px) and (min-width: 540px) {
  .messages {
    column-count: 2;
  }
}
